/* Home Page */
body.home {
  padding: 10px;
  background-image: url('https://i.imgur.com/RJMpp0X.png');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat; 
  color: #8c52ff;
  font-family: 'Arima Madurai', cursive;
  font-variant-caps: small-caps ;
 

}
div
/* Navigation */
header{
  position: sticky;
}
a.nav-link{
  color: #8c52ff;
  background: #ffde59;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

nav a {
  color: #8c52ff;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #8c52ff;
  background: #ffde59 ;
}
/* Gallery Page */
body.gallery{
  padding: 10px;
  font-family: 'Arima Madurai', cursive;
  font-variant-caps: small-caps ;
  background-color: #5ce1e6;
}
section{
  padding: 10px;
}
img.gallery{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 220px;
  position: static;

}
#gallery{
  margin-top: 10px;
  margin-left: 50px;
}

/* Bio Page */
body.bio{
  padding: 10px;
  background-color: #5ce1e6;
  font-family: 'Arima Madurai', cursive;
  font-variant-caps: small-caps ;
  
}
div.bio{
  margin: 40px;
  font-size: 25px;
  border: #8c52ff 2px solid;
  padding: 60px;
}
p.biog{
  text-align: right;
}
img.bio{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 220px;

}
/* Contact Page */
body.contact{
  padding: 10px;
  background-color: #5ce1e6;
  font-family: 'Arima Madurai', cursive;
  font-variant-caps: small-caps ;
}
#contact{
  margin-top: 15px;
}
h1.contact{
  text-align: center;
}
img.contact{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 220px;
  position: sticky;

}
/* Shopping Cart */
body.cart{
  padding: 10px;
  background-color: #5ce1e6;
  font-family: 'Arima Madurai', cursive;
  font-variant-caps: small-caps ;
}
.container{
  margin-top: 25px;
}
* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.col-25 {
  background-color: #ffde59;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #8c52ff;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #ffde59
}
a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}