/* Home Page */
body.home {
  padding: 10px;
  background-image: url('https://i.imgur.com/RJMpp0X.png');
  background-position: center;
  background-attachment: fixed;
  background-size: 50% 50%;
  z-index: -100;
  background-color: #8c52ff;
  background-repeat: no-repeat; 
  color: #ffde59;
  font-family: 'Arima Madurai', cursive;
  font-variant-caps: small-caps ;
}

/* Navigation */
#navbar{
  font-size: 20px;
  font-weight: bold;
  color: #ffde59;
}
.navbar-dark .navbar-nav .nav-link {
  color: #5ce1e6;
  font-size: 30px;
  padding-left: 100px;
}

/* Gallery Page */
body.gallery{
  font-family: 'Arima Madurai', cursive;
  font-variant-caps: small-caps ;
  background-color: #8c52ff;
}

#gallery{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 220px;
} 

/* Bio Page */
body.bio{
  padding: 10px;
  background-color: #8c52ff;
  font-family: 'Arima Madurai', cursive;
  font-variant-caps: small-caps ;
  color: #5ce1e6;
}
div.bio{
  margin: 40px;
  font-size: 25px;
  border: 2px #ffde59 solid;
  padding: 60px;
}
p.biog{
  text-align: right;
}
img.bio{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 220px;

}
/* Contact Page */
body.contact{
  padding: 10px;
  color: #ffde59;
  font-size: 20px;
  background-color: #8c52ff;
  font-family: 'Arima Madurai', cursive;
  font-variant-caps: small-caps ;
}
#contact{
  margin-top: 15px;
}
h1.contact{
  text-align: center;
}
img.contact{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 220px;
  position: sticky;

}
.btn {
  background-color: #5ce1e6;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 30px;
}

.btn:hover {
  background-color: #ffde59
}

/* Footer */
footer{
  padding-top: 30px;
  margin-top: -100px;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  color: #ffde59;
}
div.social{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  
}
#social{
  margin-left: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
}
div.hyperlinks{
  display: flex;
  justify-content: space-evenly;
  border-top: 3px white solid;
}

a{
  color: #5ce1e6;
}
/* Cancel Page */
body.cancel{
  padding: 10px;
  color: #ffde59;
  font-size: 20px;
  background-color: #8c52ff;
  font-family: 'Arima Madurai', cursive;
  font-variant-caps: small-caps ;
}
/* Success Page */
body.success{
  padding: 10px;
  color: #ffde59;
  font-size: 20px;
  background-color: #8c52ff;
  font-family: 'Arima Madurai', cursive;
  font-variant-caps: small-caps ;
}
@media screen and (max-width: 800px) {
  body{
    display: block;
    block-size: auto;
   
  }  

  .row {
    flex-direction: column;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

