<img class="bio" src="https://i.imgur.com/ODPc0ap.png">

 <%-include('../partials/header')%>

<body class="bio"> 
    

   
    <div class="bio">
        <p class="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eius cumque natus adipisci, quibusdam sapiente. Ipsa optio, corrupti, enim sint nihil quidem officiis harum tempore facere aperiam accusamus? Animi, itaque!</p>
        <p class="biog">-Sarai Nieves-Coleman</span>
    </div>
    
    
</body>