<%-include('../partials/header')%>

<body class="cancel">
  <section>
    <p>Forgot to add something to your cart? Shop around then come back to pay!</p>
  </section>
</body>
<%-include('../partials/footer')%>