
 <%-include('../partials/header')%>
  
 <body class="gallery">
     
<div id= 'gallery' class="row row-cols-1 row-cols-md-3 g-4">
    <section>
        <div class="col">
            <div class="card h-100" style="max-width: 18rem;">
        <div class="product">
          <img class="card-img-top"
            src="https://i.imgur.com/EHyR2nP.png"
            alt="The cover of Stubborn Attachments"
          />
          <div class="description">
            <h3>Stubborn Attachments</h3>
            <h5>$20.00</h5>
        </div>
        <button id="checkout-button">Checkout</button>
      </section>
      </div>
      
    
     
     
       
 
     
      <script type="text/javascript">
        // Create an instance of the Stripe object with your publishable API key
        var stripe = Stripe("pk_test_51I3WVwKUWk9p77Cmiv0BBMIqq1wdloCyBo0lmW5QPxIQK9IALftlATKiVEdigCig3DGWH2SdJmCZKOHAT5Q1QqFq00B5CsNQH3");
        var checkoutButton = document.getElementById("checkout-button");
        checkoutButton.addEventListener("click", function () {
          fetch("/create-checkout-session", {
            method: "POST",
          })
            .then(function (response) {
              return response.json();
            })
            .then(function (session) {
              return stripe.redirectToCheckout({ sessionId: session.id });
            })
            .then(function (result) {
              // If redirectToCheckout fails due to a browser or network
              // error, you should display the localized error message to your
              // customer using error.message.
              if (result.error) {
                alert(result.error.message);
              }
            })
            .catch(function (error) {
              console.error("Error:", error);
            });
        });
      </script>
   </body>