<%-include('../partials/header')%>
<body class="success">
  <section>
    <p>
      We appreciate your business! If you have any questions, please email
      <a href="mailto:orders@example.com">orders@example.com</a>.
    </p>
  </section>
</body>
<%-include('../partials/footer')%>